*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.caja1{
    padding: 20px;
    margin: 20px;
    background-color: #08FFEA;
    width: 100%;
    height: 600px;
}
.caja2{
    padding: 20px;
    margin: 20px;
    background-color: yellow;
    width: 100%;
    height: 215px;
}
.centro{
    position: relative;
    left: 600px;
	top: 30px;
}
.hijo2{
    position: relative;
    top: -30px;
}